<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

.card {
  transition: 0.3s;
  max-width: 30%;
  border-radius: 5px;
  max-height: 15%;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-style: solid;
  border-color: lightgrey;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 4px 0px;
  width: 150%;
  background-color: #cce6ff;
}

h3 {
  color: grey;
}

h4 {
  color: grey;
}

</style>

<div class="card">
  <div class="container-fixed">
    <h3 align = "center" font-color = #959396>Ciência da Computação</h3> 
    <h4 align = "center">4º Período</h4> 
  </div>
</div>
