<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<style>

.card {
  transition: 0.3s;
  width: 30%;
  height: 20%;
  border-radius: 5px;
  padding: 6px;
  margin-right: 15px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border-style: solid;
  border-color: lightgrey;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h4 {
  color: grey;
}

h5 {
  color: grey;
}

</style>
<div class="container-fluid">
	<div class="card">
  		<div class="container-fluid">
    		<h4 align = "center">Ciência da Computação</h4> 
    		<h5 align = "center">4º Período</h5>
  		</div>
	</div>
</div>
